{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/myprofile/create" method="POST">
        <fieldset>
            <legend>Create Your Profile</legend>

            <label class="form-label" for="uploadPic">Upload Profile Pic</label>
            <input 
                type="file" 
                class="form-control" 
                id="upload" 
                placeholder="Upload Profile Pic"
                />

            <label class="form-label">Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter name"
            >

            <label class="form-label">About ME:</label>
            <input 
                class="form-control" 
                type="text" 
                name="about-me" 
                placeholder="About Me"
            >
            <label class="form-label" for="customFile">Upload Resume</label>
            <input type="file" class="form-control" id="customFile" />
            
            
        
        </fieldset>
        <input 
            type="submit" 
            value="Create Your Profile" 
            class="btn btn-dark"
        >
    </form>
</div>
{% endblock %}