body{
    background-color: black;
    background-image: url('https://i.imgur.com/kYpQxka.png?1');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: auto;
    color: #b2fd52;
    
}

